# Temporary Files
*.swp
*.swo
*.pyc
*.pyo
*.o
cscope.out
tags
*.lprof

# Java
*.class

# TeX
*.log
*.aux
*.out
*.nav
*.toc
*.snm
*.pdf
*.dvi
*_tmp.*

# Data
data/
java/data
java/junit
doc/logs/render
*.dot
*.png
*.hmm
*.mat
*.dat
*.npz
*.npy
output/
output-*/
data-*/
results/

# Temporary stuff
*.sh
attic/
