# Temporary Files
*.swp
*.swo
*.pyc
*.pyo
*.o
cscope.out
tags
*.lprof

# TeX
*.log
*.aux
*.out
*.nav
*.toc
*.snm
*.pdf
*.dvi
*_tmp.*

# Data
*.dot
*.png
*.mat
*.dat
*.npz
output/
output-*/
data-*/
results/

# Temporary stuff
*.sh
attic/
