# Temporary Files
*.swp
*.swo
*.pyc
*.pyo
*.o
cscope.out
tags
*.lprof

# Java
*.class
java/junit
java/bin
java/out
.idea

# TeX
*.log
*.aux
*.out
*.nav
*.toc
*.bbl
*.blg
*.snm
*.pdf
*.dvi
*_tmp.*

# Data
java/data
doc/logs/render
*.dot
#*.png
*.hmm
*.mat
*.dat
*.npz
*.npy
output/
output-*/
data-*/
results/
logs-*/
results-*/

.gitignore

# Temporary stuff
*.sh
attic/
